<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p class="MsoNormal" align="left" style="margin-top: 0; margin-bottom: 0">
						<font size="2"><b>
						<span style="font-family: Verdana,sans-serif">&nbsp;</span></b></font></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Banners</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Banner Principal Topo</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os banners do tipo principal terão 
							até 4 anunciantes e serão visualizados de forma 
							randômica, ou seja, a cada click seu anúncio será 
							visualizado em uma posição diferente em todas as 
							paginas do portal Guia de Festas Curitiba.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Nesse formato específico, você poderá 
							incluir a logomarca da sua empresa, bem como 
							informações mais detalhadas de promoções, dando link 
							para seu web site no tamanho 700x100 pixel.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<img border="0" src="layout/principaltopo.jpg" width="800" height="676"></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">&nbsp;</font></span></b></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="center">
						<font face="Verdana">
						<a href="comoanunciar.html" style="text-decoration: none; font-weight: 700">
						<font color="#CE1324">:: VOLTAR ::</font></a></font></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">&nbsp;</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>