<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p class="MsoNormal" align="left" style="margin-top: 0; margin-bottom: 0">
						<font size="2"><b>
						<span style="font-family: Verdana,sans-serif">&nbsp;</span></b></font></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Vitrine On-line Tema Infantil</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Aperfeiçoamos a busca pelos temas 
							infantis oferecidos pelos nossos anunciantes. Nessa 
							seção, o seu anuncio será diferenciado, você poderá 
							incluir fotos dos temas separadamente.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A base de pesquisas será o TEMA 
							INFANTIL e não mais o Anunciante, seu cliente terá 
							oportunidade de visualizar a foto de seu tema 
							cadastrado em destaque.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A contratação será por tema infantil, 
							sendo que estipulamos um mínimo de 15 temas para 
							cada anunciante, agregando valor no montante da sua 
							mensalidade.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<img border="0" src="layout/tema1.jpg" width="800" height="676"></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<img border="0" src="layout/tema2.jpg" width="800" height="676"></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							&nbsp;</p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="center">
							<font face="Verdana">
							<a href="comoanunciar.html" style="text-decoration: none; font-weight: 700">
							<font color="#CE1324">:: VOLTAR ::</font></a></font></p>
						</blockquote>
						</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>