<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Solução virtual para sua empresa</title>
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666" background="layout/barra_topo_3.jpg">
		<tr>
			<td>
			<div align="center">
			<div align="center">
							<div align="center">
								<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
									<tr>
										<td width="289" valign="top">
										<p style="margin-top: 4px; margin-bottom: 10px">
										<b>
										<font face="Verdana" color="#808080" style="font-size: 11pt">
										Grupo TNR</font></b></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="http://guiadefestascuritiba.hospedagemdesites.ws/Index.aspx">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Guia de Festas Curitiba</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="http://guiadefestascuritiba.hospedagemdesites.ws/tema.aspx">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Vitrine Temas Infantis</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="http://guiadefestascuritiba.hospedagemdesites.ws/convite.aspx">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Vitrine Convites e Lembrancinhas</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="http://guiadefestascuritiba.hospedagemdesites.ws/oferta.aspx">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Clube de Ofertas</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="http://guiadefestascuritiba.hospedagemdesites.ws/tvOnline.aspx">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										TV ONLINE Guia de Festas</font></a></p></td>
										<td width="221" valign="top">
										<p style="margin-top: 4px; margin-bottom: 10px">
										<b>
										<font face="Verdana" color="#808080" style="font-size: 11pt">
										Sobre o Guia</font></b></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="quemsomos.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Quem somos</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="comofunciona.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Como funciona</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="politica.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Política de Privacidade</font></a></p>
										</td>
										<td width="255" valign="top">
										<p style="margin-top: 4px; margin-bottom: 10px">
										<b>
										<font face="Verdana" style="font-size: 11pt" color="#808080">
										Área de Anunciante</font></b></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="comoanunciar.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Como Anunciar</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="cadastro.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Efetuar Cadastro</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="alteracao.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Alteração de Anuncio</font></a></td>
										<td width="255" valign="top">
										<p style="margin-top: 4px; margin-bottom: 10px">
										<b>
										<font face="Verdana" color="#808080" style="font-size: 11pt">
										Contato</font></b></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="mensagem.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Enviar uma Mensagem</font></a></p>
										<p style="margin-top: 4px; margin-bottom: 10px">
										<a style="text-decoration: none" target="_top" href="orcamento.html">
										<font color="#808080" face="Verdana" size="2">
										<img border="0" src="../00%20SITE%20GUIA%20DE%20FESTAS%20CURITIBA/layout/seta.png" width="5" height="10"> 
										Solicitar Orçamento</font></a></p></td>
									</tr>
								</table>
							</div>
				<table border="0" width="100%" cellspacing="0" cellpadding="0" height="65" bgcolor="#C0C0C0">
					<tr>
						<td align="center">
						<font face="Verdana" color="#666666" style="font-size: 9pt; font-weight: 700">
						<a href="http://www.grupotnr.com.br" style="text-decoration: none">
						<font color="#808080">GRUPO</font></a></font><a href="http://www.grupotnr.com.br" style="text-decoration: none"><font face="Verdana" style="font-size: 11pt" color="#808080">
						</font><font face="Verdana" color="#808080"><b>TNR</b></font><font face="Verdana" style="font-size: 11pt" color="#808080">
						</font>
						<font face="Verdana" color="#808080" style="font-size: 9pt">
						- Soluções em internet<b>&nbsp;</b></font></a><font face="Verdana" color="#808080" style="font-size: 9pt"><b>&nbsp;&nbsp;&nbsp;
						</b></font><font face="Verdana" color="#808080"><b>|</b></font><font face="Verdana" color="#808080" style="font-size: 9pt">&nbsp;&nbsp;&nbsp;&nbsp;
						Tel. +55 41 
						</font>
						<font face="Verdana" color="#808080">
						<b>3203-5431</b></font></td>
					</tr>
				</table>
			</div>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>