<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p class="MsoNormal" align="left" style="margin-top: 0; margin-bottom: 0">
						<font size="2"><b>
						<span style="font-family: Verdana,sans-serif">&nbsp;</span></b></font></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						COMO ANUNCIAR NO GUIA DE FESTAS CURITIBA</span></b></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">Anunciar no Guia de Festas Curitiba é a 
						oportunidade de divulgar os serviços e produtos de sua 
						empresa com profissionalismo e dedicação na questão que 
						envolve a exposição de sua marca. </font></span></p>
						<p class="MsoNormal" align="center" style="text-align: justify; margin-top: 0; margin-bottom: 0">
						&nbsp;</p>
						<p class="MsoNormal" align="center" style="text-align: justify; margin-top: 0; margin-bottom: 0; margin-left:20px">
						<b><span style="font-family: Verdana,sans-serif">
						<font size="2">Faça 
						parte de nossa rede de fornecedores e prestadores de 
						serviços!</font></span></b></p>
						<p style="margin-top: 0; margin-bottom: 0; margin-left:20px">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• O melhor e mais completo portal de 
							divulgação de profissionais e serviços de festas e 
							eventos de Curitiba e Região Metropolitana.</font></span></p>
						<p style="margin-top: 0; margin-bottom: 0; margin-left:20px">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• O mundo conectado 24 horas por dia, 7 
							dias por semana, 365 dias por ano. </font></span>
						</p>
						<p style="margin-top: 0; margin-bottom: 0; margin-left:20px">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• </font></span>
						<span style="font-family: Verdana,sans-serif; color: windowtext">
						<font size="2">O aumento de internautas no Brasil 
							continuará crescendo, contribuindo para que a 
							internet se torne a 5ª maior </font></span></p>
						<p style="margin-top: 0; margin-bottom: 0; margin-left:20px">
						<font size="2">
						<span style="font-family: Verdana,sans-serif">&nbsp;&nbsp;
						</span></font>
						<span style="font-family: Verdana,sans-serif; color: windowtext">
						<font size="2">potência econômica</font></span><span style="font-family: Verdana,sans-serif"><font size="2">
						</font></span>
						<span style="font-family: Verdana,sans-serif; color: windowtext">
						<font size="2">mundial até 2015.</font></span></p>
						<p style="margin-top: 0; margin-bottom: 0; margin-left:20px">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• Internet é a mídia mais barato e 
							eficiente para conquistar novos clientes.</font></span></p>
						<p class="ecxmsolistparagraph" style="text-align: justify; margin-top: 0; margin-bottom: 0; margin-left:20px">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• Exposição da sua marca para um 
							público-alvo altamente segmentado, com alto grau de 
							instrução e alto poder de compra.</font></span></p>
						<p class="MsoListParagraphCxSpFirst" style="margin-top: 0; margin-bottom: 0; margin-left:20px" align="justify">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• Layout simples e objetivo, 
							facilitando as buscas por produtos e serviços.</font></span></p>
						<p class="MsoListParagraphCxSpLast" style="margin-top: 0; margin-bottom: 0; margin-left:20px" align="justify">
						<span style="font-family: Verdana,sans-serif">
						<font size="2">• Facilidade em acessar o portal de 
							qualquer equipamento, inclusive de TV’s com acesso a 
							internet.</font></span></p>
						<p class="MsoListParagraphCxSpLast" style="margin-top: 0; margin-bottom: 0; margin-left:20px" align="justify">&nbsp;</p>
						<p class="MsoNormal" align="center" style="text-align: justify; margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="left" style="margin-top: 0; margin-bottom: 0">
						<b><span style="font-family: Verdana,sans-serif">
						<font size="4">Confira 
						abaixo nossas opções de anúncios</font></span></b></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Anúncios Classificados / Segmentados</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Nessa área você divulgará sua 
							logomarca no formato JPG, 2 fones, endereço, e-mail, 
							link para website,&nbsp; link para redes sociais( 
							Facebook / Orkut / Twitter / Google+) e mapa de 
							localização. O formato de visualização será de forma 
							randômica, ou seja, a cada click seu anúncio será 
							visualizado em uma posição diferente. A pesquisa 
							será efetuada através de palavras-chaves (palavras 
							que vinculam ao segmento do anunciante), ordem 
							alfabética ou por bairros. O Anunciante poderá 
							incluir seu anuncio em vários segmentos, desde que 
							atenda a demanda e a necessidade do consumidor 
							final.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anuncioclassificado.html" style="text-decoration: none">
							<font color="#000000">:: Visualize formato de anuncio 
							CLASSIFICADO</font></a></font></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Banners</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Banner publicidade</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os banners publicidades serão 
							visualizados de forma randômica, ou seja, a cada 
							click seu anúncio será visualizado em uma posição 
							diferente em todas as paginas do portal Guia de 
							Festas Curitiba.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Nesse formato específico, você poderá 
							incluir a logomarca da sua empresa para apresentação 
							na parte lateral direita do Guia de Festas Curitiba, 
							quando clicar no banner, será visualizado 
							automaticamente um folder no tamanho 780x580 pixel, 
							com informações mais detalhadas, dando link para seu 
							website.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciobannerpublicidade.html" style="text-decoration: none">
							<font color="#000000">:: Visualiza o formato de anúncio tipo 
							BANNER PUBLICIDADE</font></a></font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">&nbsp;</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Banner Principal Topo</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os banners do tipo principal terão 
							até 4 anunciantes e serão visualizados de forma 
							randômica, ou seja, a cada click seu anúncio será 
							visualizado em uma posição diferente em todas as 
							paginas do portal Guia de Festas Curitiba.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Nesse formato específico, você poderá 
							incluir a logomarca da sua empresa, bem como 
							informações mais detalhadas de promoções, dando link 
							para seu web site no tamanho 700x100 pixel.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciobannertopo.html" style="text-decoration: none">
							<font color="#000000">:: Visualiza o formato de anúncio tipo 
							BANNERS PRINCIPAL TOPO</font></a></font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">&nbsp;</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Banner Principal Randômico Central</font></span></b></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os banners do tipo principal 
							randômico central, serão visualizados de forma 
							randômica, ou seja, a cada click seu anúncio será 
							visualizado em uma posição diferente em todas as 
							paginas do portal Guia de Festas Curitiba, 
							totalizando até 20 anunciantes.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Nesse formato específico, você poderá 
							incluir a logomarca da sua empresa, bem como 
							informações mais detalhadas de promoções, dando link 
							para seu website no tamanho 730x220 pixel.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciobannercentral.html" style="text-decoration: none">
							<font color="#000000">:: Visualiza o formato de anúncio tipo 
							BANNER PRINCIPAL CENTRAL</font></a></font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">&nbsp;</p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Clube de Ofertas</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">O anúncio será visualizado de forma 
							randômica, ou seja, cada click a sua OFERTA poderá 
							ser&nbsp; visualizada em uma posição diferente dentro da 
							área CLUBE DE OFERTAS.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Quando clicar na OFERTA, o internauta 
							será direcionado automaticamente para informações 
							mais detalhadas fornecidas pelo anunciante.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">O anunciante poderá contratar esse 
							tipo de anúncio por um período mínimo de 30 dias, e 
							terá autonomia de administrar suas vendas sem que o 
							GUIA DE FESTAS CURITIBA sirva de intermediário na 
							transação comercial/financeira realizada.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anuncioclubedeofertas.html" style="text-decoration: none">
							<font color="#000000">:: Visualiza o formato de anúncio CLUBE DE OFERTAS</font></a></font></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Vitrine On-line Tema Infantil</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Aperfeiçoamos a busca pelos temas 
							infantis oferecidos pelos nossos anunciantes. Nessa 
							seção, o seu anuncio será diferenciado, você poderá 
							incluir fotos dos temas separadamente.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A base de pesquisas será o TEMA 
							INFANTIL e não mais o Anunciante, seu cliente terá 
							oportunidade de visualizar a foto de seu tema 
							cadastrado em destaque.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A contratação será por tema infantil, 
							sendo que estipulamos um mínimo de 15 temas para 
							cada anunciante, agregando valor no montante da sua 
							mensalidade.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciotemas.html" style="text-decoration: none">
							<font color="#000000">:: Visualize o formato de anúncio na 
							VITRINE ON-LINE DE TEMA INFANTIL</font></a></font></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Vitrine On-line Convites e Lembrancinhas</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Aperfeiçoamos a busca pelos convites 
							e lembrancinhas oferecidos pelos nossos anunciantes. 
							Nessa seção, o seu anuncio será diferenciado, você 
							poderá incluir fotos dos seus produtos 
							separadamente.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A base de pesquisas será o PRODUTO e 
							não mais o Anunciante, seu cliente terá oportunidade 
							de visualizar a foto de seu produto cadastrado em 
							destaque.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">A contratação será por produtos, 
							sendo que estipulamos um mínimo de 15 produtos para 
							cada anunciante, agregando valor no montante da sua 
							mensalidade.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2"><b>
							<a href="anuncioconvites.html" style="text-decoration: none">
							<font color="#000000">:: Visualize o formato de anúncio na 
							VITRINE ON-LINE DE CONVITES E LEMBRANCINHAS</font></a></b></font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<b>
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">&nbsp;</font></span></b></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						TV On-line Guia de Festas Curitiba</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os vídeos inseridos nesse formato de 
							anúncio serão produzidos e enviados pelo próprio 
							anunciante. O anunciante ganhará destaque na pagina 
							inicial do portal GUIA DE FESTAS CURITIBA, bem como 
							uma área exclusiva para esse formato de anuncio.
							</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Os vídeos deverão ser breves para que 
							você possa ter um resultado eficaz.</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<b>
							<font size="2">
							<a href="anunciotvonline.html" style="text-decoration: none">
							<font color="#000000">Visualize o formato de anúncio na 
							TV ON-LINE</font></a></font></b></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Matérias de Capa</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Desenvolvemos mais um canal para você 
							pdeor divulgar seus produtos e serviços. 
							Disponibilizamos uma área especial na página 
							principal do GUIA DE FESTAS CURITIBA. Nessa seção 
							você poderá divulgar as novidades de sua empresa, ou 
							até mesmo escrever sobre as tendências do segmento 
							de festas e eventos. </font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciomateriacapa.html" style="text-decoration: none">
							<font color="#000000">:: Visualize o formato da 
							MATÉRIA DE CAPA</font></a></font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">&nbsp;</font></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Matérias de Capa 
						Vitrine On-line Tema Infantil</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Desenvolvemos mais um canal para você 
							poder divulgar seus produtos e serviços. 
							Disponibilizamos uma área especial no link de 
							DECORAÇÕES do GUIA DE FESTAS CURITIBA. Nessa seção 
							você poderá divulgar as novidades de sua empresa, ou 
							até mesmo escrever sobre as tendências do segmento 
							de DECORAÇÕES INFANTIS. </font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">
							<a href="anunciomateriatema.html" style="text-decoration: none">
							<font color="#000000">:: Visualize o formato da 
							MATÉRIA DE CAPA VITRINE ON-LINE DE TEMA INFANTIL 
							</font> </a></font></span></p>
						</blockquote>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></b></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">&nbsp;</font></span></b></p>
						<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						Matérias de Capa 
						Vitrine On-line Convites e Lembrancinhas</span></b></p>
						<blockquote>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
							<font size="2">Desenvolvemos mais um canal para você 
							poder divulgar seus produtos e serviços. 
							Disponibilizamos uma área especial no link de 
							Convites e Lembrancinhas do GUIA DE FESTAS CURITIBA. 
							Nessa seção você poderá divulgar as novidades de sua 
							empresa, ou até mesmo escrever sobre as tendências 
							do segmento de Convites e Lembrancinhas..</font></span></p>
							<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="justify">
							<a href="anunciomateriaconvites.html" style="text-decoration: none">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font color="#000000" size="2">:: Visualize o formato da 
							</font></span>
							<font color="#000000">
							<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; font-weight:700">
							<font size="2">MATÉRIA DE CAPA VITRINE ON-LINE DE </font></span>
							</font>
							<span style="font-family: Verdana,sans-serif; font-weight: 700">
							<font color="#000000" size="2">CONVITES E LEMBRANCINHAS</font></span></a></p>
						</blockquote>
						</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>