<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p align="justify" style="margin: 0 50px">
						&nbsp;<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>Como Funciona</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">O Guia de Festas Curitiba, 
						oferece uma gama infinita de informações para a 
						organização da&nbsp; sua festa ou evento. O formato atual do 
						portal disponibiliza pesquisas por palavras chaves, 
						bairros, ordem alfabética e ordem aleatória, bem como 
						banners promocionais, área exclusiva de ofertas, vitrine 
						virtual de temas infantis e convites e lembrancinhas, TV 
						Online, matérias exclusivas oferecendo as tendências do 
						mercado de festas. Todas essas facilidades reunidas em 
						apenas um portal! Abaixo você poderá entender melhor 
						como funciona o mecanismo do Guia de Festas Curitiba e 
						aproveitar para navegar com segurança e tranquilidade em 
						nosso ambiente virtual!</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>Anúncios Segmentados e Banners</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Nessa área você acessará o 
						segmento desejado, ou seja, se estiver procurando um 
						serviço ou produto especifico, como buffet infantil, 
						bolos, brinquedos, kit festa, basta clicar na opção 
						desejada e encontrar o produto ou serviço que atenda 
						suas necessidades. A pesquisa poderá ser efetuada por 
						palavras chaves, ordem alfabética ou por bairros.</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>Clube de Ofertas</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Você poderá visualizar e 
						contratar produtos e serviços, com descontos 
						fantásticos!</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">As ofertas são oferecidas 
						e administradas por nossos anunciantes, deixe-se levar 
						pelo Clube de Ofertas do Guia de Festas Curitiba. Tudo 
						por um preço imbatível!</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>Vitrine On-line Tema Infantil</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Otimizamos a busca pelos 
						temas infantis oferecidos pelos nossos anunciantes. 
						Nessa seção, você visualizará as fotos dos temas de cada 
						anunciante, ou seja, você não precisa mais acessar 
						vários sites para poder encontrar o seu tema preferido. 
						Agora você poderá escolher e comparar o produto com 
						apenas uma visualização. Fácil não é mesmo?! Aproveite 
						sua navegação pelo Guia de Festas Curitiba.</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>Vitrine On-line Convites e 
						Lembrancinhas</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">A área de vitrine de 
						convites e lembrancinhas funcionará exatamente como a de 
						Temas Infantis. Você visualizará as fotos dos produtos 
						oferecidos pelos nossos anunciantes, ou seja, você não 
						precisa mais acessar vários sites para poder encontrar 
						seus convites e lembrancinhas preferidos. Agora você 
						poderá escolher e comparar o produto com apenas uma 
						visualização. Fácil não é mesmo?! Aproveite sua 
						navegação pelo Guia de Festas Curitiba.</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana"><b>TV On-line Guia de Festas 
						Curitiba</b></font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Aqui você visualizará 
						vídeos enviados por nossos anunciantes, como dicas de 
						festas, festas realizadas, demonstração dos ambientes, 
						decorações, tendências do segmento de festas.</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Comece agora a navegar 
						neste mundo dos sonhos que encanta a todos.</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Desejamos uma ótima visita 
						em nosso portal Guia de Festas Curitiba, com ótimos 
						resultados e também uma festa maravilhosa. </font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">&nbsp;</font></p>
						<p class="MsoNormal" style="margin:0cm;margin-bottom:.0001pt" align="justify">
						<font face="Verdana" size="2">Seja bem vindo(a).</font></p>
						<p align="justify" style="margin-top: 0; margin-bottom: 0">
						&nbsp;</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>