<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p align="justify" style="margin: 0 50px">
						&nbsp;<p align="justify" style="margin-top: 0; margin-bottom: 0">
						<b><font face="Verdana">SOLICITAR ORÇAMENTO</font></b></p>
						<p align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
							<blockquote>
								<blockquote>
									<blockquote>
										<p align="justify" style="margin-top: 0; margin-bottom: 0">
										<b><font face="Verdana">Dados de contato</font></b></p>
									</blockquote>
								</blockquote>
							</blockquote>
							<div align="center">
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Nome </font></td>
									<td width="450" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T9" size="55"></font></td>
								</tr>
							</table>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Ramo de 
									Atividade</font></td>
									<td width="450" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T10" size="55"></font></td>
								</tr>
							</table>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Telefone</font></td>
									<td width="450" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T11" size="55"></font></td>
								</tr>
							</table>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">E-mail</font></td>
									<td width="450" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T12" size="55"></font></td>
								</tr>
							</table>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Site</font></td>
									<td width="450" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T15" size="55"></font></td>
								</tr>
							</table>
								<p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="268" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Já conhecia o 
									Guia de Festas Curitiba?</font></td>
									<td width="332" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C1" value="ON"><font face="Verdana" size="2">Sim&nbsp;&nbsp;
									</font>
									<input type="checkbox" name="C2" value="ON"><font face="Verdana" size="2">Não&nbsp;&nbsp;
									</font></td>
								</tr>
							</table>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="170" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana" size="2">Como chegou 
									até nós?</font></td>
									<td width="440" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<font face="Verdana">
									<input type="text" name="T14" size="55"></font></td>
								</tr>
							</table>
								<p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="600" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
									<b><font face="Verdana" size="2">TIPO DE 
									SERVIÇOS DESEJADOS</font></b></p>
									<p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C5" value="ON"><font face="Verdana" size="2">Classificado&nbsp;&nbsp;&nbsp;
									</font>
									<p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C6" value="ON"><font face="Verdana" size="2">Banner 
									Publicidade&nbsp;&nbsp;&nbsp;&nbsp; </font>
									<p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C7" value="ON"><font face="Verdana" size="2">Banner 
									Topo&nbsp;&nbsp;&nbsp;&nbsp; </font>
									<p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C8" value="ON"><font face="Verdana" size="2">Banner 
									Central</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C19" value="ON"><font face="Verdana" size="2">Classificado 
									Vitrine Tema Infantil</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C20" value="ON"><font face="Verdana" size="2">Classificado 
									Vitrine Convites / Lembrancinhas</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C9" value="ON"><font face="Verdana" size="2">Matéria 
									Home</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C13" value="ON"><font face="Verdana" size="2">Matéria 
									Vitrine Tema Infantil</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C14" value="ON"><font face="Verdana" size="2">Matéria 
									vitrine Convites / Lembrancinhas</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C15" value="ON"><font face="Verdana" size="2">Clube 
									de Ofertas</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C16" value="ON"><font face="Verdana" size="2">TV 
									ON-Line</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C10" value="ON"><font face="Verdana" size="2">Hot 
									site Básico</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C11" value="ON"><font face="Verdana" size="2">Hot 
									site Intermediário</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C12" value="ON"><font face="Verdana" size="2">Hot 
									site Avançado</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C17" value="ON"><font face="Verdana" size="2">Web 
									Site</font><p style="margin-top: 0; margin-bottom: 0">
									<input type="checkbox" name="C18" value="ON"><font face="Verdana" size="2">Loja 
									Virtual</font></td>
								</tr>
							</table>
								<p style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
							<table border="0" width="600" cellspacing="0" cellpadding="0">
								<tr>
									<td width="101" height="25" valign="top">
									<p style="margin-top: 5px; margin-bottom: 0">
									<font face="Verdana" size="2">Observação</font></td>
									<td width="499" height="25">
									<p style="margin-top: 0; margin-bottom: 0">
												<textarea rows="9" name="S3" cols="52"></textarea></td>
								</tr>
							</table>
							</div>
						<div align="center">
							<form method="POST" action="--WEBBOT-SELF--">
								<!--webbot bot="SaveResults" U-File="G:\CLIENTES\000 SITE ATUALIZACAO\html bases\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
								<p style="margin-top: 0; margin-bottom: 0">
								<input type="button" value="ENVIAR" name="B11"><input type="reset" value="LIMPAR" name="B12"></p>
							</form>
							<p>&nbsp;<p>&nbsp;</div>
						</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>