<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>GRUPO TNR - Portais Corporativos de Divulgação ON-LINE</title>
<meta name="description" content="Somos um GRUPO focado na criação e execução da divulgação on-line, com objetivos de geração de novos serviços com soluções da web, que agreguem conteúdo visual e lucros aos nossos anunciantes de forma colaborativa e social aos internautas.">
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="200" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="200">
					<tr>
						<td align="center" width="279">
						<p style="margin-top: 0; margin-bottom: 0">
						<img border="0" src="layout/logo.png" width="170" height="170"></td>
						<td align="center">
						<p style="margin-top: 0; margin-bottom: 0">
						<font color="#FFFFFF" face="Verdana" style="font-size: 20pt">
						<b>Portais Corporativos de Divulgação ON-LINE</b></font></p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						Somos um <b>GRUPO</b> focado na criação e execução da
						<strong>DIVULGAÇÃO ONLINE</strong>, com objetivos de 
						geração de <strong style="font-weight: 400">novos</strong> 
						serviços com <b>SOLUÇÕES DA WEB</b>, que agreguem 
						conteúdo visual e lucros aos nossos <b>ANUNCIANTES</b> 
						de forma colaborativa e social aos <b>INTERNAUTAS</b>.</font></p>
						<p style="margin: 0 15px">&nbsp;</p>
						<p style="margin: 0 15px">
						<font color="#FFFFFF" face="Verdana" style="font-size: 11pt">
						<b>
						<img border="0" src="layout/solucao.png" width="670" height="37"></b></font></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="910" cellspacing="0" cellpadding="0" height="450">
					<tr>
						<td width="910" valign="top">
						<p class="MsoNormal" align="left" style="text-align: justify; margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="left" style="text-align: justify; margin-top: 0; margin-bottom: 0">
						<b>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						POLÍTICA DE PRIVACIDADE&nbsp;&nbsp; ||&nbsp;&nbsp; GUIA 
						DE FESTAS CURITIBA</span></b></p>
						<p class="MsoNormal" align="left" style="text-align: justify; margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">Nossa política de privacidade visa 
						assegurar a garantia de que, quaisquer informações 
						relativas aos usuários, não serão fornecidas, publicadas 
						ou comercializadas em quaisquer circunstâncias.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">O Guia de Festas Curitiba, poderá 
						utilizar seu endereço eletrônico para fins promocionais 
						desde que o usuário tenha concordado em receber avisos 
						de promoções e novidades do site no momento do seu 
						cadastro.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">Todos os dados pessoais informados ao 
						nosso site são armazenados em um banco de dados 
						reservado e com acesso restrito a alguns funcionários 
						habilitados, que são obrigados, a manter a 
						confidencialidade das informações e não utilizá-las 
						inadequadamente.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">A não ser por determinação judicial, as 
						informações dos usuários cadastrados no ambiente deste 
						site jamais serão transferidas a terceiros ou usadas 
						para finalidades diferentes daquelas para as quais foram 
						coletadas pela Guia de Festas Curitiba.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">O usuário garante a veracidade e exatidão 
						dos dados pessoais que fornecer neste site, ou seja, o 
						Guia de Festas Curitiba não tem qualquer 
						responsabilidade no caso de inserção de dados falsos ou 
						inexatidão dos dados pessoais introduzidos pelo usuário 
						neste site.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">O Guia de Festas Curitiba faz uso de 
						tecnologia de ponta para a proteção dos Dados Pessoais, 
						fornecida por nosso servidor de hospedagem. Não obstante 
						os esforços tecnológicos para a proteção de dados 
						pessoais no âmbito do Website, fica o usuário ciente de 
						que as medidas de segurança relativas à Internet são 
						passíveis de falhas, pelas quais o Guia de Festas 
						Curitiba não se responsabiliza.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">
						<span style="font-family: Verdana,sans-serif; font-weight: 700">
						<font size="2">Links a outros sites: </font></span>
						<span style="font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;">
						<font size="2">Os autores dos sites ou links que se 
						mostram como resultados das buscas mediante os serviços 
						de procura no site são companhias sobre as quais o Guia 
						de Festas Curitiba, não exerce nenhum controle. Estes 
						podem evitar seus cookies, reunir dados ou solicitar 
						informações pessoais.</font></span></p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
						<p class="MsoNormal" align="justify" style="margin-top: 0; margin-bottom: 0">&nbsp;</td>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#CE1324" height="8">
		<tr>
			<td>
			<font size="1">&nbsp; </font>
			</td>
		</tr>
	</table>
</div>



</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="base_site" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>