<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Guia de Festas Curitiba</title>
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">




<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="145" background="layout/barra_topo_1.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="145">
					<tr>
						<td width="290" align="center">
						<img border="0" src="layout/logo.png" width="190" height="115"></td>
						<td width="730" align="center">
						<table border="0" width="730" cellspacing="0" cellpadding="0" height="100">
							<tr>
								<td width="700" height="100">
								<p align="left" style="margin-top: 0; margin-bottom: 0">
								<b>
												<font face="Verdana" size="1" color="#E89804">
												PUBLICIDADE</font></b></p>
								<table border="0" width="720" cellspacing="0" cellpadding="0" height="100">
									<tr>
										<td width="700" height="100" align="center">
										<p style="margin-top: 0; margin-bottom: 0">
										<img border="0" src="publicidade/banner01_700x100.jpg" width="700" height="100"></td>
										<td width="20" height="100">
										<table border="0" width="20" cellspacing="0" cellpadding="0" height="100" background="layout/barra_topo_5.jpg">
											<tr>
												<td align="center" width="20" height="25">
												<p style="margin-top: 0; margin-bottom: 0">
												<b>
												<font face="Verdana" size="1" color="#808080">
												01</font></b></td>
											</tr>
											<tr>
												<td align="center" width="20" height="25">
												<p style="margin-top: 0; margin-bottom: 0">
												<font face="Verdana" size="1" color="#808080">
												02</font></td>
											</tr>
											<tr>
												<td align="center" width="20" height="25">
												<p style="margin-top: 0; margin-bottom: 0">
												<font face="Verdana" size="1" color="#808080">
												03</font></td>
											</tr>
											<tr>
												<td align="center" width="20" height="25">
												<p style="margin-top: 0; margin-bottom: 0">
												<font face="Verdana" size="1" color="#808080">
												04</font></td>
											</tr>
										</table>
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="65" background="layout/barra_topo_2.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="65">
					<tr>
						<td width="340" align="center">
						<img border="0" src="layout/locais_festas.png" width="50" height="50"><img border="0" src="layout/decor_festas.png" width="50" height="50"><img border="0" src="layout/alimentacao_festas.png" width="50" height="50"><img border="0" src="layout/diversao_festas.png" width="50" height="50"><img border="0" src="layout/servicos_festas.png" width="50" height="50"><img border="0" src="layout/tipo_festa.png" width="50" height="50"></td>
						<td width="400" align="center">
						<table border="0" width="396" cellspacing="0" cellpadding="0" height="38" background="layout/pesquisar.png">
							<tr>
								<td width="97">&nbsp;</td>
								<td align="right">
								<input type="text" name="T1" size="35"></td>
								<td width="42">
								<p style="margin-left: 3px">
								<img border="0" src="layout/ok.png" width="27" height="20"></td>
							</tr>
						</table>
						</td>
						<td width="280" align="center" valign="bottom">
						<img border="0" src="layout/atendimento_online.png" width="235" height="55"></td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="250" background="layout/barra_topo_3.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
					<tr>
						<td valign="top" width="290">
						<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
							<tr>
								<td width="730" height="250">
								<table border="0" width="730" cellspacing="0" cellpadding="0" height="250">
									<tr>
										<td width="730" height="10"></td>
									</tr>
									<tr>
										<td width="730" height="220">
										<img border="0" src="publicidade/banner01_730x220.jpg" width="730" height="220"></td>
									</tr>
									<tr>
										<td width="730" height="20" background="layout/barra_topo_4.jpg">
										<table border="0" width="730" cellspacing="0" cellpadding="0" height="20">
											<tr>
												<td width="25" height="20" align="center">
												<b>
												<font face="Verdana" size="1" color="#808080">
												01</font></b></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												02</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												03</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												04</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												05</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												06</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												07</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												08</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												09</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												10</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												11</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												12</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												13</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												14</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												15</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												16</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												17</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												18</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												19</font></td>
												<td width="25" height="20" align="center">
												<font face="Verdana" size="1" color="#808080">
												20</font></td>
												<td width="230" height="20" align="center">
												<p align="right" style="margin-right: 6px">
												<b>
												<font face="Verdana" size="1" color="#808080">
												PUBLICIDADE</font></b></td>
											</tr>
										</table>
										</td>
									</tr>
								</table>
								</td>
								<td width="290" height="250">
								<table border="0" width="290" cellspacing="0" cellpadding="0" height="250">
									<tr>
										<td width="290" height="10"></td>
									</tr>
									<tr>
										<td width="290" height="80" align="center">
										<a href="clube.html">
										<img border="0" src="layout/club_ofertas.png" width="268" height="75"></a></td>
									</tr>
									<tr>
										<td width="290" height="80" align="center">
										<a href="vitrinetema.html">
										<img border="0" src="layout/vitrine_tema.png" width="268" height="75"></a></td>
									</tr>
									<tr>
										<td width="290" height="80" align="center">
										<a href="vitrinelembrancinhas.html">
										<img border="0" src="layout/vitrine_convite.png" width="268" height="75"></a></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="10">
					<tr>
						<td width="1020" height="10"></td>
					</tr>
				</table>
				<table border="0" width="1020" cellspacing="0" cellpadding="0">
					<tr>
						<td width="180" valign="top">
						<table border="0" width="180" cellspacing="0" cellpadding="0">
							<tr>
								<td>
								<img border="0" src="layout/barra_topo.png" width="174" height="10"></td>
							</tr>
							<tr>
								<td background="layout/barra_meio.png" valign="top">
								<table border="0" width="180" cellspacing="0" cellpadding="0">
									<tr>
										<td background="layout/barra01.png" width="180" height="38" valign="top">
										<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
										<b>
										<font face="Verdana" style="font-size: 9pt" color="#FFFFFF">
										Lembrancinhas</font></b></td>
									</tr>
								</table>

								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<a href="vitrinelembrancinhas_jardim.html" style="text-decoration: none">
										<font face="Verdana" style="font-size: 9pt; font-weight:700" color="#666666">
										Kit Jardim</font></a></td>
									</tr>
								</table>
																<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Imã de Geladeira</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Kit Doces</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Pirulito Personalizado</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Brigadeiro</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Caneca Personalizada</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Kit Escola</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Caixinhas</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Doces Personalizados</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Chaveiro</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Sabonetes</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Velas</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Maletinhas</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Porta Retrato</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Sacolinhas</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Vasinhos de Flor</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Latinhas</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Perfumes</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Sache</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Biscut</font></td>
									</tr>
								</table>																								

								<table border="0" width="180" cellspacing="0" cellpadding="0">
									<tr>
										<td background="layout/barra02.png" width="180" height="38" valign="top">
										<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
										<b>
										<font face="Verdana" style="font-size: 9pt" color="#FFFFFF">
										Convites</font></b></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Convite Infantil</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Convite 15 anos</font></td>
									</tr>
								</table>
								<table border="0" width="180" cellspacing="0" cellpadding="0" height="20" background="layout/pontos_categoria.png">
									<tr>
										<td>
										<p style="margin-left: 17px; margin-top: 0; margin-bottom: 0">
										<font face="Verdana" style="font-size: 9pt" color="#666666">
										Convite Casamento</font></td>
									</tr>
								</table>

								
								</td>
							</tr>
							<tr>
								<td background="layout/barra_meio.png" valign="top">
								<table border="0" width="180" cellspacing="0" cellpadding="0">
									<tr>
										<td background="layout/barra07.png" width="180" height="38" valign="top">
										<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
										<b>
										<font face="Verdana" color="#FFFFFF" style="font-size: 9pt">
										Painel de Controle</font></b></td>
									</tr>
								</table>
								<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
								<font face="Verdana" color="#666666" style="font-size: 9pt">
								Usuário</font></p>
								<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
								<font size="1"><span style="font-size: 9pt">
								<input type="text" name="T2" size="19"></span></font></p>
								<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
								<font face="Verdana" color="#666666" style="font-size: 9pt">
								Senha</font></p>
								<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
								<font size="1"><span style="font-size: 9pt">
								<input type="text" name="T3" size="14"></span></font><font style="font-size: 9pt">
								<img border="0" src="layout/okcinza.png" width="21" height="15"></font></p>
								<p style="margin-left: 15px; margin-top: 8px; margin-bottom: 0">
								<font face="Verdana" color="#666666" style="font-size: 9pt; text-decoration: underline; font-weight: 700">
								Esqueci meus dados</font></p>
								<p style="margin-left: 15px; margin-top: 8px; margin-bo0tom: 0">
								<font face="Verdana" color="#666666" style="font-size: 9pt; text-decoration: underline; font-weight: 700">
								Novo Cadastro</font></p>
								<p style="margin-left: 15px; margin-right: 15px; margin-top: 8px; margin-bottom: 0" align="center">
								<img border="0" src="layout/seja_cliente.png" width="123" height="141"></td>
							</tr>
							<tr>
								<td>
								<img border="0" src="layout/barra_base.png" width="180" height="11"></td>
							</tr>
						</table>
						</td>
						<td width="620" valign="top">
						<div align="center">
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/barra_central_categoria.png" height="58">
								<tr>
									<td valign="top">
									<p style="margin-left: 65px; margin-top: 12px; margin-bottom: 0">
									<b>
									<font face="Verdana" size="2" color="#666666">
									Lembrancinha: Kit Jardim</font></b></td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/pontilhado_categoria.png">
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" height="169">
								<tr>
									<td width="347" height="169">
									<p align="left">
									<img border="0" src="vitrinelembracinhas/jardim%20(1).jpg" width="340" height="230"></td>
									<td width="223" height="169" valign="bottom">
									<p style="margin-top: 0; margin-bottom: 3px">
									<img border="0" src="logos/001.jpg" width="136" height="136"></p>
									<table border="0" width="100%" cellspacing="0" cellpadding="0">
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" color="#666666" size="1">
											Mundo Mágico das Bolinhas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#666666">
											Parque Infantil / Salão de Festas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Rua Paulo Setúbal, 2693</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Boqueirão - Curitiba - Paraná</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
													<b>
													<font face="Verdana" color="#666666" size="1">
											(41) 0000-0000 / 0000-0000</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#A2A2A2">
											site | e-mail | mapa</font></b></td>
										</tr>
									</table>
									</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/pontilhado_categoria.png">
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" height="169">
								<tr>
									<td width="347" height="169">
									<p align="left">
									<img border="0" src="vitrinelembracinhas/jardim%20(2).jpg" width="340" height="230"></td>
									<td width="223" height="169" valign="bottom">
									<p style="margin-top: 0; margin-bottom: 3px">
									<img border="0" src="logos/241.jpg" width="136" height="136"></p>
									<table border="0" width="100%" cellspacing="0" cellpadding="0">
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" color="#666666" size="1">
											Mundo Mágico das Bolinhas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#666666">
											Parque Infantil / Salão de Festas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Rua Paulo Setúbal, 2693</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Boqueirão - Curitiba - Paraná</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
													<b>
													<font face="Verdana" color="#666666" size="1">
											(41) 0000-0000 / 0000-0000</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#A2A2A2">
											site | e-mail | mapa</font></b></td>
										</tr>
									</table>
									</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/pontilhado_categoria.png">
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" height="169">
								<tr>
									<td width="347" height="169">
									<p align="left">
									<img border="0" src="vitrinelembracinhas/jardim%20(3).JPG" width="340" height="230"></td>
									<td width="223" height="169" valign="bottom">
									<p style="margin-top: 0; margin-bottom: 3px">
									<img border="0" src="logos/244.jpg" width="136" height="136"></p>
									<table border="0" width="100%" cellspacing="0" cellpadding="0">
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" color="#666666" size="1">
											Mundo Mágico das Bolinhas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#666666">
											Parque Infantil / Salão de Festas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Rua Paulo Setúbal, 2693</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Boqueirão - Curitiba - Paraná</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
													<b>
													<font face="Verdana" color="#666666" size="1">
											(41) 0000-0000 / 0000-0000</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#A2A2A2">
											site | e-mail | mapa</font></b></td>
										</tr>
									</table>
									</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/pontilhado_categoria.png">
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" height="169">
								<tr>
									<td width="347" height="169">
									<p align="left">
									<img border="0" src="vitrinelembracinhas/jardim%20(4).jpg" width="340" height="230"></td>
									<td width="223" height="169" valign="bottom">
									<p style="margin-top: 0; margin-bottom: 3px">
									<img border="0" src="logos/254.jpg" width="136" height="136"></p>
									<table border="0" width="100%" cellspacing="0" cellpadding="0">
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" color="#666666" size="1">
											Mundo Mágico das Bolinhas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#666666">
											Parque Infantil / Salão de Festas</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Rua Paulo Setúbal, 2693</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
											<font face="Verdana" size="1" color="#666666">
											Boqueirão - Curitiba - Paraná</font></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px">
													<b>
													<font face="Verdana" color="#666666" size="1">
											(41) 0000-0000 / 0000-0000</font></b></td>
										</tr>
										<tr>
											<td>
											<p style="margin-top: 0; margin-bottom: 3px"><b>
											<font face="Verdana" size="1" color="#A2A2A2">
											site | e-mail | mapa</font></b></td>
										</tr>
									</table>
									</td>
								</tr>
							</table>
							<table border="0" width="570" cellspacing="0" cellpadding="0" background="layout/pontilhado_categoria.png">
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</div>
						</td>
						<td width="220" valign="top">
						<div align="center">
							<table border="0" width="220" cellspacing="0" cellpadding="0">
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
								<tr>
									<td width="220" height="76" align="center">
									<img border="0" src="publicidade/lateral01.jpg" width="210" height="70"></td>
								</tr>
							</table>
						</div>
						</td>
					</tr>
				</table>
				<p style="margin-top: 0; margin-bottom: 0">&nbsp;</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<div align="center">



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="250" background="layout/barra_topo_6.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
					<tr>
						<td valign="top">
						<table border="0" width="1020" cellspacing="0" cellpadding="0">
							<tr>
								<td width="1020" height="35">
								<table border="0" width="1020" cellspacing="0" cellpadding="0" height="35">
									<tr>
										<td width="35">
										<img border="0" src="layout/medidor_verde.png" width="22" height="31">
										</td>
										<td><b><font face="Verdana">
										<span style="font-size: 15pt">
										<font color="#666666">TOP 50</font>
										</span></font>
										<font color="#808080" face="Verdana">&nbsp;GUIA 
										DE FESTAS CURITIBA </font></b><i>
										<font face="Verdana" color="#808080" size="2">
										[ ta todo mundo pesquisando também... ]</font></i></td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td width="1020" height="215">&nbsp;</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="250" background="layout/barra_topo_3.jpg">
		<tr>
			<td>
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
					<tr>
						<td valign="top">
			<div align="center">
				<table border="0" width="1020" cellspacing="0" cellpadding="0" height="250">
					<tr>
						<td valign="top">
						<table border="0" width="1020" cellspacing="0" cellpadding="0">
							<tr>
								<td width="1020" height="35">
								<table border="0" width="1020" cellspacing="0" cellpadding="0" height="35">
									<tr>
										<td width="35">
										<img border="0" src="layout/medidor_verde.png" width="22" height="31">
										</td>
										<td><b><font face="Verdana">
										<font style="font-size: 15pt" color="#666666">
										TV ON-LINE</font><font color="#808080">&nbsp; 
										GUIA DE FESTAS CURITIBA<font size="2">
										</font></font></font></b><i>
										<font size="2" face="Verdana" color="#808080">
										[ Clientes Vídeo Empresa + Dicas + 
										Cursos + Festas ]</font></i></td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td width="1020" height="215">
								<div align="center">
									<table border="0" width="1020" cellspacing="0" cellpadding="0" height="205" bgcolor="#CCCDD0">
										<tr>
											<td width="90">
											<p align="center">
											<img border="0" src="layout/play_esq.png" width="70" height="70"></td>
											<td width="840">
											<table border="0" width="840" cellspacing="0" cellpadding="0" height="190">
												<tr>
													<td width="210" height="181" align="center" valign="top">
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													<a href="tvonline.html">
													<img border="0" src="videos/provencal.png" width="190" height="153"></a></font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Clube Urca - O charme da</font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Festa Provençal</font></td>
													<td width="210" height="181" align="center" valign="top">
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													<a href="tvonline.html">
													<img border="0" src="videos/provencal.png" width="190" height="153"></a></font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Clube Urca - O charme da</font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Festa Provençal</font></td>
													<td width="210" height="181" align="center" valign="top">
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													<a href="tvonline.html">
													<img border="0" src="videos/provencal.png" width="190" height="153"></a></font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Clube Urca - O charme da</font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Festa Provençal</font></td>
													<td width="210" height="181" align="center" valign="top">
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													<a href="tvonline.html">
													<img border="0" src="videos/provencal.png" width="190" height="153"></a></font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Clube Urca - O charme da</font></p>
													<p style="margin-top: 0; margin-bottom: 0">
													<font face="Verdana" size="2" color="#666666">
													Festa Provençal</font></td>
												</tr>
											</table>
											</td>
											<td width="90">
											<p align="center">
											<img border="0" src="layout/play_dir.png" width="70" height="70"></td>
										</tr>
									</table>
								</div>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
			</div>
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
</div>



<div align="center">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" height="315" bgcolor="#666666">
		<tr>
			<td>
			<div align="center">
				<iframe name="I1" src="base.html" height="315" width="100%" scrolling="no" align="middle" border="0" frameborder="0" marginwidth="1" marginheight="1">
				Seu navegador não oferece suporte para quadros embutidos ou está configurado para não exibi-los.
				</iframe>
			</div>
			</td>
		</tr>
	</table>
</div>
			</div>
			</td>
		</tr>
	</table>
</div>
</div>
</body>
</html>