.input-group-addon {
	display: none;
}
.form-1 {
	border-radius: 0;
}
.form-1 .textarea-icon {
	margin-top: 6px;
}
.form-1 .textarea-icon textarea.form-control {
	margin-top: 0;
}
.form-1 input.form-control {
	border-right: 1px solid rgb(228, 228, 228); 
}
.form-2 {
	border-radius: 0;
	padding: 30px;
}
.form-2 .btns {
	margin-top: 0;
}
.form-2 .c-border-top {
	margin-top: 12px;
	border-top: none;
}
.img-box .thumb {
	border-radius: 0;
}
.img-box img, .person .photo img, .person .photo, .tablewrap, .table, .table.pricing, .table.pricing.highlight .head, 
.table thead tr td:first-child, .table thead tr td:last-child, .post-thumb .photo, .post-thumb .photo img, .portfolio.item .top, 
.portfolio.item, .portfolio.item .top img, .portfolio.item .top img, .portfolio.item .bot, .fancy-portfolio .item img, .box-8 {
	border-radius: 0;
}
.box.counter .unit {
	font-weight: 400;
}
.standard.gallery .item {
	border-radius: 0;
}
.standard.gallery .item img {
	border-radius: 0;
}
.preview.gallery .navigation .control {
	background: rgb(250, 250, 250);
}
.table.pricing .price .amount {
	color: rgb(0, 0, 0);
}
.table.pricing.highlight .amount {
	color: rgb(255, 255, 255);
}
h5.medium a {
	color: rgb(119, 119, 119);
}
.italic.info a {
	/*color: rgb(185, 185, 185);*/
}
.background-overlay {
	background: rgba(144, 194, 58, 0.85);
}
.badge.pull-left i {
	font-size: 28px;
}
.box-6 {
	border: 0;
	background: none;
}
.box-8 .alt-text-color a{
	color: white;
}

.testimonials-2 {
    border-radius: 3;
}